.Title{
    font-size: 13px;
    font-weight: 700;
    border-bottom: 2px solid #FFB300;
    line-height: 30px;
    width: 80%;
}
.RecommendedBlogs{
    width:21%;
    display: inline-block;
    float: right;
    margin-left: 20px;
}
.BlogCardRecommended{
    margin-top: 20px;
}

@media only screen and (max-width: 1061px) {
    .RecommendedBlogs{
        margin: 20px 0px;
        display:block;
        width: 100%;
        float: none;
    }
    .BlogCardRecommended{
        display: flex;
        overflow-x: scroll;
    }
    .Title{
        font-size: 13px;
        font-weight: 700;
        border-bottom: 2px solid #FFB300;
        line-height: 30px;
        width: 15%;
    }

}